body{
    margin: 0;
    display: block;
    overflow: hidden;
}

.brand-logo{
    margin-left: 20px;
    font-weight: 300;
}

#map_container{
    min-width: 200px;
    width: 100%;
    min-height: 100px;
}

#emotion-but{
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#emotion-card{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.switch{
    margin-top: 10px;
    margin-bottom: 10px;
}