<md-toolbar id="top_navi" color="primary">
  <span>{{title}}</span>
  <span class="spacer"></span>
  <md-menu #appMenu="mdMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Help </button>
  </md-menu>
  <button md-icon-button [mdMenuTriggerFor]="appMenu">
    <md-icon>more_vert</md-icon>
  </button>
</md-toolbar>
<div id="map_container"></div>
<md-card id="example-card">
  <md-card-header>
    <md-card-title>Emotion Dimensions</md-card-title>
    <md-card-subtitle>Hangzhou, China</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <div>
      <div class="left-row">
        <md-slide-toggle class="toggle-emotion" (change)="toggleHappiness()">
          Happiness
        </md-slide-toggle>
        <md-slide-toggle class="toggle-emotion">
          Calmness
        </md-slide-toggle>
        <md-slide-toggle class="toggle-emotion">
          Anxiety
        </md-slide-toggle>
      </div>
      <div class="right-row">
        <md-slide-toggle class="toggle-emotion">
          Relaxation
        </md-slide-toggle>
        <md-slide-toggle class="toggle-emotion">
          Worry
        </md-slide-toggle>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <div id="share">
      <button md-button>LIKE</button>
      <button md-button>SHARE</button>
    </div>
  </md-card-actions>
</md-card>
<button id="emotion-but" md-fab>
    <md-icon class="md-48">face</md-icon>
</button>
