@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.spacer {
    flex: 1 1 auto;
}

#map_container{
    min-width: 200px;
    width: 100%;
    min-height: 100px;
}

#emotion-but{
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#example-card{
    position: absolute;
    min-width: 300px;
    opacity: 80%;
    right: 10px;
    bottom: 20px;
    height: 300px;
}

.left-row{
    position: relative;
    top: 0;
    float: left;
    margin: 10px;
}

.right-row{
    position: relative;
    top: 0;
    float: right;
    margin: 10px;
}

#share{
    position: relative;
    float: left;
}