@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.spacer {
    flex: 1 1 auto;
}

#map_container{
    min-width: 200px;
    width: 100%;
    min-height: 100px;
}

#emotion_but{
    position: absolute;
    right: 20px;
    bottom: 30px;
}

#example-card{
    min-width: 30%;
    position: absolute;
    right: 15px;
    bottom: 25px;
}